body {
  padding: 20px;
}

.App {
  margin: 0 auto; /*가운데 정렬*/
  width: 500px;
}

.App > section {
  padding: 20px;
  background-color: rgb(202, 98, 98);
  border: 2px solid rgb(194, 183, 28);
  border-radius: 5px;
  margin-bottom: 10px;
}


